{% extends 'main.html' %}
{% block title %}Country{% endblock %}
{% block page_title %}Country List{% endblock page_title %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card pt-0">
                <div class="card-header bg-transparent">
                    <h4></h4>
                    <div class="card-header-action">
                        <a href="{% url 'product_create' %}" class="btn btn-primary"><i class="fas fa-plus"></i> New
                            Product</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive userTable">
                        <table id="datatable" class="bg-white table table-striped table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col" style="width: 100px;">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for location in object_list  %}
                                    <tr>
                                        <td>{{ location.id }}</td>
                                        <td>{{ location.name }}</td>
                                        <td><a class="btn btn-primary" href="{% url 'product_update' location.id %}"><i class="fa fa-edit"></i></a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <nav class="d-inline-block">

                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
{% endblock %}